body, .content, .workspace, .markdown-preview-view, .markdown-source-view, .sidebar, .theme-dark, .workspace-background, .fas-skin-art-deco, .dg {
    --background-primary: #070918 !important;
	--background-primary-alt: #070918 !important;
	--background-secondary: #070918 !important;
	--background-secondary-alt: #070918 !important;
	--workspace-background: #070918 !important;
	background-color: #070918 !important;
}