/* GPLv3 license
FAS - Footnote
Author: ElsaTam (Kapirklaa in Discord)
*/
.theme-light {
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.theme-dark {
  --shadow-color: rgba(0, 0, 0, 0.3);
}

.footnotes {
  position: relative;
}

.footnotes::before {
  content: "Footnotes";
  position: absolute;
  background-color: var(--hr-color);
  font-style: color=#000000;
  border-radius: 50%;
  padding: 0.3em 1em;
  top: -1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: currentColor 1px dashed;
  outline-offset: -0.3em;
  box-shadow: 0 0 15px var(--shadow-color);
}

.footnotes hr {
  border-top-style: dotted;
}