/*** This is supposed to add light/dark toggle to site. ***/

#floating-control {
position: fixed;
  width: 30px;
  height: 30px;
color: var(--link-color);
top: 5vmax;
left: 1vmax;
font-size: 24px;
z-index: 999999;
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 10px;
.svg-icon,
i {
cursor: pointer;
height: 24px;
width: auto;
}
#theme-switch {
.light {
display: none;
}
.dark {
display: none;
}
.auto {
display: none;
}
}
#theme-switch.light {
.light {
display: inline;
}
}
#theme-switch.dark {
.dark {
display: inline;
}
}
#theme-switch.auto {
.auto {
display: inline;
}
}
}