body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   /***
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
	***/

/***
	ATTEMPT TO FIX FANCY-A-STORY CSS FOR WEB.
***/

/***
//	.workspace, p {
//	  font-color: #f3f3f3;
//	}
***/

div.callout-content {
  padding-left: 10px;
  padding-right: 5px;
}

p {
  font-size: 16px;  
}

ul li {
  font-size: 16px;
}

nav.filetree-sidebar {
  background-color: #121212;
}

body body, body .content, body .workspace, body .markdown-preview-view, body .markdown-source-view, body .theme-dark, body .markdown-rendered, body .markdown-preview-section, body .css-settings-manager, body .theme-dark, body .mod-windows, body .is-frameless, body .is-hidden-frameless, body .obsidian-app, body .styled-scrollbars, body .show-inline-title, body .show-ribbon, body .show-view-header, body .css-settings-manager, body .mk-spaces-right, body .mk-readable-line, body .mk-folder-lines, body .mk-spaces-enabled, body .mk-inline-context-enabled, body .mk-flow-replace, body .mk-flow-minimal, body .folder-note-underline-path, body .fn-ignore-attachment-folder, body .version-1-7-2, body .iconic-clickable-icons, body .iconic-markdown-tab-icons, body .rpgm-toggle-full-width-styles, body .folder-notes-plugin, body .hide-folder-note, body .folder-note-underline, body .fn-whitespace-stop-collapsing, body .is-focused, body .fas-theme-dark-print, body .fas-art-deco, body .fas-custom-dark, body .fas-bg-textures, body .fas-workspace-foreground-contrast, body .fas-callout-infobox, body .fas-headings-rainbow, body .fas-hr, body .fas-statblocks-complement, body .fas-skin-art-deco {
    --background-primary: #070918 !important;
	--background-primary-alt: #070918 !important;
	--background-secondary: #070918 !important;
	--background-secondary-alt: #070918 !important;
	--workspace-background: #070918 !important;
	background-color: #070918 !important;
}





/* This snippet was auto-generated by the Admonitions plugin */



.callout[data-callout="ziggy"] { --callout-color: 168, 130, 255; --callout-icon: lucide-moon-star; }

.callout[data-callout="headcanon"] { --callout-color: 227, 107, 167; --callout-icon: lucide-lightbulb; }

.callout[data-callout="tracker"] { --callout-color: 227, 107, 167; --callout-icon: lucide-house-heart; }

.callout[data-callout="wishlist"] { --callout-color: 227, 107, 167; --callout-icon: lucide-stars; }

.callout[data-callout="sticky"] { --callout-color: 208, 181, 48; --callout-icon: lucide-sticky-note; }

.callout[data-callout="spoiler"] { --callout-color: 208, 181, 48; --callout-icon: lucide-alert-octagon; }

.callout[data-callout="muse"] { --callout-color: 83, 223, 221; --callout-icon: lucide-user-pen; }

.callout[data-callout="main"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-star; }

.callout[data-callout="bfc"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-round-check; }

.callout[data-callout="rule"] { --callout-color: 251, 70, 76; --callout-icon: lucide-book-alert; }

.callout[data-callout="guideline"] { --callout-color: 233, 151, 63; --callout-icon: lucide-shield-alert; }

.callout[data-callout="shipdyn"] { --callout-color: 198, 243, 68; --callout-icon: lucide-user-round-plus; }

.callout[data-callout="tags"] { --callout-color: 114, 161, 253; --callout-icon: lucide-hash; }

.callout[data-callout="stats"] { --callout-color: 114, 161, 253; --callout-icon: lucide-user-cog; }

.callout[data-callout="verse"] { --callout-color: 114, 161, 253; --callout-icon: lucide-book-marked; }



}
