body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }



body.theme-dark.markdown-preview-view.markdown-rendered.markdown-preview-section.css-settings-manager.theme-dark.mod-windows.is-frameless.is-hidden-frameless.obsidian-app.styled-scrollbars.show-inline-title.show-ribbon.show-view-header.folder-notes-plugin.hide-folder-note.folder-note-underline.folder-note-underline-path.fn-whitespace-stop-collapsing.fn-ignore-attachment-folder.version-1-7-2.mk-spaces-right.mk-readable-line.mk-folder-lines.mk-spaces-enabled.mk-inline-context-enabled.mk-flow-replace.mk-flow-minimal.css-settings-manager.iconic-clickable-icons.iconic-markdown-tab-icons.rpgm-toggle-full-width-styles.fas-art-deco.fas-bg-textures.fas-callout-cite-alt.fas-callout-infobox.fas-headings-rainbow.fas-hr.fas-statblocks-complement.fas-skin-art-deco.is-focused {
  background-color: #070918;
}


nav.filetree-sidebar {
  background-color: #121212;
}



/* This snippet was auto-generated by the Admonitions plugin */



.callout[data-callout="ziggy"] { --callout-color: 168, 130, 255; --callout-icon: lucide-moon-star; }

.callout[data-callout="headcanon"] { --callout-color: 227, 107, 167; --callout-icon: lucide-lightbulb; }

.callout[data-callout="tracker"] { --callout-color: 227, 107, 167; --callout-icon: lucide-house-heart; }

.callout[data-callout="wishlist"] { --callout-color: 227, 107, 167; --callout-icon: lucide-stars; }

.callout[data-callout="sticky"] { --callout-color: 208, 181, 48; --callout-icon: lucide-sticky-note; }

.callout[data-callout="spoiler"] { --callout-color: 208, 181, 48; --callout-icon: lucide-alert-octagon; }

.callout[data-callout="muse"] { --callout-color: 83, 223, 221; --callout-icon: lucide-user-pen; }

.callout[data-callout="main"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-star; }

.callout[data-callout="bfc"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-round-check; }

.callout[data-callout="rule"] { --callout-color: 251, 70, 76; --callout-icon: lucide-book-alert; }

.callout[data-callout="guideline"] { --callout-color: 233, 151, 63; --callout-icon: lucide-shield-alert; }

.callout[data-callout="shipdyn"] { --callout-color: 198, 243, 68; --callout-icon: lucide-user-round-plus; }



}
