body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   /***
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
	***/

/***
	ATTEMPT TO FIX FANCY-A-STORY CSS FOR WEB.
***/

/***
//	.workspace, p {
//	  font-color: #f3f3f3;
//	}
***/

div.callout-content {
  padding-left: 10px;
  padding-right: 5px;
}

p {
  font-size: 16px;  
}

ul li {
  font-size: 16px;
}

nav.filetree-sidebar {
  background-color: #121212;
}

body, .content, .workspace, .markdown-preview-view, .markdown-source-view, .theme-dark, .markdown-rendered, .markdown-preview-section, .css-settings-manager, .theme-dark, .mod-windows, .is-frameless, .is-hidden-frameless, .obsidian-app, .styled-scrollbars, .show-inline-title, .show-ribbon, .show-view-header, .css-settings-manager, .mk-spaces-right, .mk-readable-line, .mk-folder-lines, .mk-spaces-enabled, .mk-inline-context-enabled, .mk-flow-replace, .mk-flow-minimal, .folder-note-underline-path, .fn-ignore-attachment-folder, .version-1-7-2, .iconic-clickable-icons, .iconic-markdown-tab-icons, .rpgm-toggle-full-width-styles, .folder-notes-plugin, .hide-folder-note, .folder-note-underline, .fn-whitespace-stop-collapsing, .is-focused, .fas-theme-dark-print, .fas-art-deco, .fas-custom-dark, .fas-bg-textures, .fas-workspace-foreground-contrast, .fas-callout-infobox, .fas-headings-rainbow, .fas-hr, .fas-statblocks-complement, .fas-skin-art-deco {
    --background-primary: #070918 !important;
	--background-primary-alt: #070918 !important;
	--background-secondary: #070918 !important;
	--background-secondary-alt: #070918 !important;
	--workspace-background: #070918 !important;
	background-color: #070918 !important;
}








/* This snippet was auto-generated by the Admonitions plugin */



.callout[data-callout="ziggy"] { --callout-color: 168, 130, 255; --callout-icon: lucide-moon-star; }

.callout[data-callout="headcanon"] { --callout-color: 227, 107, 167; --callout-icon: lucide-lightbulb; }

.callout[data-callout="tracker"] { --callout-color: 227, 107, 167; --callout-icon: lucide-house-heart; }

.callout[data-callout="wishlist"] { --callout-color: 227, 107, 167; --callout-icon: lucide-stars; }

.callout[data-callout="sticky"] { --callout-color: 208, 181, 48; --callout-icon: lucide-sticky-note; }

.callout[data-callout="spoiler"] { --callout-color: 208, 181, 48; --callout-icon: lucide-alert-octagon; }

.callout[data-callout="muse"] { --callout-color: 83, 223, 221; --callout-icon: lucide-user-pen; }

.callout[data-callout="main"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-star; }

.callout[data-callout="bfc"] { --callout-color: 196, 243, 68; --callout-icon: lucide-user-round-check; }

.callout[data-callout="rule"] { --callout-color: 251, 70, 76; --callout-icon: lucide-book-alert; }

.callout[data-callout="guideline"] { --callout-color: 233, 151, 63; --callout-icon: lucide-shield-alert; }

.callout[data-callout="shipdyn"] { --callout-color: 198, 243, 68; --callout-icon: lucide-user-round-plus; }

.callout[data-callout="tags"] { --callout-color: 114, 161, 253; --callout-icon: lucide-hash; }

.callout[data-callout="stats"] { --callout-color: 114, 161, 253; --callout-icon: lucide-user-cog; }

.callout[data-callout="verse"] { --callout-color: 114, 161, 253; --callout-icon: lucide-book-marked; }



}
